html,
body {
    margin: 0px;
    max-width: 100%;
    height: 100%;
    border: 1px solid black;
    font-family: sans-serif;
}

h1 {
	text-align: center;
	font-size: 22px;
    display: block;
    background-color: green;
    margin-bottom: 1px: 
}

#map {
    width: 100%;
    height: 500px;
    margin: auto;
    position: center;
}

#option-box {
    background-color: #EEEEDD;
    border: 1px solid#CCC;
    max-width: 350PX;
    padding: 5px;
}

.search {    
    color: red;
    padding: 5px;
    background-color: blue;
}

#place-list {
    color: blue;
    background-color: green;
    display: block;
}

#place-list:hover, active {
    background-color: red;
    color: purple;
    cursor: pointer;
}

hr {
    color: #4d90fe;
}

.info-window {
   max-width: 200px;
}

#data-bind {
    width: 100%;
    color: #4d90fe;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

@media screen and (min-width: :350px) {
    #map{
        width: 350px;
}
